DATABASE_URL=postgres://postgres:password@127.0.0.1:5432/jafa?sslmode=disable
DBMATE_MIGRATIONS_DIR="./internal/infrastructure/psql/migrations/"
DBMATE_SCHEMA_FILE="./internal/infrastructure/psql/schema.sql"
DBMATE_STRICT=true
SESSION_SECRET=blank
